<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975574887542-bfdo97qmt8rfh90nged44rqf9u22a2e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975574887542-bfdo97qmt8rfh90nged44rqf9u22a2e3</string>
	<key>API_KEY</key>
	<string>AIzaSyBs7clEHH_6QDdTlmilvTY5OxshptBNxec</string>
	<key>GCM_SENDER_ID</key>
	<string>975574887542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flashchat.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-69b87</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-69b87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975574887542:ios:53873c7a42c24481c0c357</string>
</dict>
</plist>